# Linux
*~

# Mac OS X
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# SOALHM
/share/
!/share/*/*.csv
!/share/*/*.sot
!/share/*/&&systemdata/Start.dol
!/share/*/battle/e*init*.dat
!/share/*/battle/epevent.evp
!/share/*/battle/first.lmt
!/share/*/field/*.enp
/thirdparty/
